.button-button{
  height: 70px;
  width: 200px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #FAB8C3;
  color: #5956E9;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.5s;
}

.button-button:hover{
  background-color: hsl(350, 85%, 81%);
}

.primary{
  max-width: 200px;
  max-height: 70px;
  background-color: #5956E9;
  color: #FFFFFF;
  transition: background-color 0.5s;
}

.primary:hover{
  background-color: #4441ec;
}
