.discover-container{
  margin-top: 250px;
}

.discover-title{
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.discover-body{
  margin-top: 80px;
  max-width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.discover-body-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-body-image img{
  border: 20px solid #DCDEFE;
  border-radius: 55px;
}

.discover-body-text{
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discover-body-text a{
  font-size: 24px;
  font-weight: 700;
  color: #5956E9;
}

