.socials-container{
  margin-top: 100px;
  max-width: 70%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@media (max-width: 414px){
  .socials-container{
    display: flex;
    flex-direction: column;
  }

  .socials-container-text{
    text-align: center;
  }

  .socials-container-image img{
    margin-top: -100px;
    transform: scale(0.8);
  }
}