*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  background-color: #FFF;
  overflow-x: hidden;
}

.App{
  height: 100vh;
  padding-top: 60px;
  display: block;
  justify-content: center;
  align-items: center;
}

.container{
  margin:0 auto;
  width:80%;
}

.footer{
  height: 50px;
  text-align: center;
}